@import '../../styles/common';
@import '../../styles/form';

.nav {
  background: $main-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  .nav-heading{
    color: $font-color;
    font-size: 30px;
  }
}
.active {
  background-color: #00a0b7;
}
span:first-child {
  margin-right: 50px;
}
span {
  border-radius: 5px;
}
a {
  display: inline-block;
  padding: 20px;
  color: $font-color;
}

